/**
 * @color
 * all the color rules in the website.
 */

/*background colors*/
body {
    background: rgb(255, 230, 150);
}
header, footer {
    background: rgb(255, 200, 100);
    color: white;
}
#navigation {
    background-color: rgb(250, 180, 80);
}
.button {
    background: rgb(0, 0, 0);
}

/*Changes in Flexbox element background colors*/
nav li {
    background-color: rgb(255,100,0);
}
.current-link {
    background-color: rgb(200,50,0);
}

/*loose text colors*/
a:active {
    color: rgb(255,50,50);
}
a:visited {
    color: rgb(150,50,50);
}
b {
    color: red;
}
h2 ~ p {
    color: rgb(100,100,0);
}
footer p {
    color: rgb(100,100,100);
}
br + small {
    color: rgb(150,100,100);
}
