body {
    background: rgb(255, 230, 150);
}

header {
    text-align: center;
    background: rgb(255, 200, 100);
    color: white;
}

header h1 {
    /*font-size: 90px;*/
    font-size: 6em;
}

footer {
    background: rgb(255, 200, 100);
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navigation {
    text-align: center;
    background-color: rgb(250, 180, 80);
}

.button {
    background: rgb(0, 0, 0);
}
