* {
  margin: 0%;
}
header {
  text-align: center;
}
header h1 {
  font-size: 6em;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-warp: nowrap;
  list-style: none;
  padding: 0%;
  justify-content: space-evenly;
}
nav li {
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;
}
.current-link {
  flex-shrink: 0.5;
  flex-grow: 2;
}
main {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "a a b b" "c c c c";
  margin: 1em; 
}
.region-one {
  grid-area: a;
}
.region-two {
  grid-area: b;
}
.region-three {
  grid-area: c;
}
main h1, h1 ~ h2 {
  margin: 1em;
}
h1 + p {
  font-size: 1.25em;
}
.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navigation {
  text-align: center;
}
.button {
  width: 30em;
  height: 30em;
}
.button img {
  display: block;
  width: 100%;
  height: 90%;
}
